@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Comfortaa', Helvetica, cursive;
  font-size: 30px;
}

#hero {
  height: 100vh;
  width: 100%;

  background-image: linear-gradient(rgba(0, 0, 0, 0.456), rgba(0, 0, 0, 0.463)),
    url(./assets/images/sunflowers&cat.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: whitesmoke;
}

.container {
  width: 90%;
  height: 100%;
  max-width: 40ch;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: left;
}

#hero .info h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

#hero .info p {
  font-size: 1.2rem;
  max-width: 50%;
}

/* CTA Button */
#hero .info a {
  text-decoration: none;
  text-transform: lowercase;
  display: inline-block;
  background-color: white;
  border-radius: 4px;

  font-size: 1.8rem;

  padding: 0.5em 2em;
  margin-top: 2rem;
  color: #ee6c09;
}

#hero .info a:hover {
  background-color:bisque;
}

/* For mobile vers. */
@media only screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}